[
    [
        ''
        ''
        ''
        ''
        '{smily:smile} '
        '{smily:evil} '
        '{smily:shy} '
        '{smily:sing} '
        '{smily:blink} '
    ]
    [
        'Hello @{player}, '
        '@{player} '
        '@{player} Hello agent, '
    ]
    ['欢迎加入']
    [
        '魔都'
        '上海'
    ]
    [
        '启示军'
        '天启军'
        '绿军'
        'Enlightened '
    ]
    ['！']
    [
        ''
        ''
        ''
        '请加'
        '我们的'
    ]
    ['QQ群：287575595']
    [
        ''
        '，可提供游戏辅导、装备支援等帮助。'
    ]
    ['「本条消息为自动发送请勿回复」']
    [' / ']
    ['Welcome to ']
    [
        'Shanghai Enlightened'
        'Shanghai ENL'
    ]
    ['! Search [Shanghai Enlightened] in ']
    [
        'Google+'
        'G+'
        'g+'
    ]
    [' ']
    [
        'to get help & support'
        'to get help and support'
        'to get help'
        'for help'
        'for support'
        'for help and support'
        'for help & support'
    ]
    ['.']
    [
        ''
        ' Good game!'
        ' Have fun gaming!'
    ]
]